asgiref==3.7.2
astroid==2.15.6
asttokens==2.2.1
backcall==0.2.0
black==23.7.0
cfgv==3.3.1
click==8.1.5
comm==0.1.4
debugpy==1.6.7
decorator==5.1.1
dill==0.3.6
distlib==0.3.6
Django==4.2.3
django-role-permissions==3.2.0
exceptiongroup==1.1.2
executing==1.2.0
filelock==3.12.2
identify==2.5.24
iniconfig==2.0.0
ipykernel==6.25.0
ipython==8.14.0
isort==5.12.0
jedi==0.19.0
jupyter_client==8.3.0
jupyter_core==5.3.1
lazy-object-proxy==1.9.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mypy-extensions==1.0.0
nest-asyncio==1.5.7
nodeenv==1.8.0
packaging==23.1
parso==0.8.3
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==3.8.1
pluggy==1.2.0
pre-commit==3.3.3
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.15.1
pylint==2.17.4
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pytest==7.4.0
python-dateutil==2.8.2
PyYAML==6.0
pyzmq==25.1.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.2
tomli==2.0.1
tomlkit==0.11.8
tornado==6.3.2
traitlets==5.9.0
typing_extensions==4.7.1
virtualenv==20.24.0
wcwidth==0.2.6
wrapt==1.15.0
