{% extends 'base.html' %}

{% block title %}Cadastro empresas{% endblock title %}

{% block content %}

    <div class="container mt-5">
        <form action="{% url 'cadastro_empresas' %}" method="POST"> {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Nome</label>
                <input type="text" class="form-control" id="username" placeholder="Nome..." name="username">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email..." name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="senha" placeholder="Senha..." name="password">
            </div>
            <input type="submit" class="btn btn-primary" value="Cadastrar">
            <a href="{% url 'login_empresas' %}" class="btn btn-primary">Voltar</a>
        </form>
    </div>

{% endblock content %}