<!DOCTYPE html>
<html>
<head>
    <title>Detalhes da Vaga - {{ vaga.titulo }}</title>
</head>
<body>
    <h1>Detalhes da Vaga - {{ vaga.titulo }}</h1>
    <p>Salário: {{ vaga.salario }}</p>
    <p>Escolaridade: {{ vaga.escolaridade }}</p>
    <h2>Candidatos:</h2>
    <ul>
        {% for candidatura in candidaturas %}
            <li>
                Candidato: {{ candidatura.candidato.username }} <br>
                Pretensão Salarial: {{ candidatura.get_pretensao_salario_display }} <br>
                Experiência: {{ candidatura.get_experiencia_display }} <br>
                Última Escolaridade: {{ candidatura.get_ultima_escolaridade_display }} <br>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
