{% extends 'base.html' %}

{% block title %}Login empresas{% endblock title %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-md">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Login - Empresas</h1>
        <form action="{% url 'login_empresas' %}" method="POST"> {% csrf_token %}
            {% if error_message %}
                <p class="text-danger">{{ error_message }}</p>
            {% endif %}
            <div class="mb-3">
                <label for="username" class="form-label">Nome</label>
                <input type="text" class="form-control" id="username" placeholder="Nome..." name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" placeholder="Senha..." name="password">
            </div>
            <input type="submit" class="btn btn-primary" value="Logar">
        </form>
        <br>
        <p>Ainda não possui cadastro?</p>
        <a href="{% url 'cadastro_empresas' %}" class="btn btn-primary">Cadastre-se</a>
    </div>

{% endblock content %}