{% extends 'base.html' %}

{%block title%}Candidatar à vaga{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Candidatar à Vaga - {{ vaga.titulo }}</h1>
        <form action="{% url 'candidatar_vaga' vaga.id %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Candidatar">
            <a href="{% url 'vagas_home' %}" class="btn btn-primary">Voltar</a>
        </form>
    </div>
{% endblock%}