{% extends 'base.html' %}

{% block title %}Detalhes vaga{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
    <div class="container mt-4">
        <h1>{{ vaga.titulo }}</h1>
        <p>Salário: {{ vaga.salario }}</p>
        <p>Escolaridade: {{ vaga.escolaridade }}</p>
        <form action="{% url 'candidatar_vaga' vaga.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Candidatar">
            <a href="{% url 'vagas_home' %}" class="btn btn-primary">Voltar</a>
        </form>
    </div>
    {% else %}
    <p>Para candidatar-se a esta vaga, faça o <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}
    
{% endblock content %}