{% extends 'base.html' %}

{% block title %}Lista de vagas{% endblock title %}

{% block content %}

    <div class="container mt-4">
        <div class="d-flex justify-content-between">
            <a href="{% url 'logout_view' %}" class="btn btn-danger">Logout</a>
        </div>     
        <br>
        <h1 class="mb-3">Lista de Vagas de Emprego</h1>
        <ul class="list-group">
            {% for vaga in vagas %}
            <li class="list-group-item">
                <a href="{{vaga.id}}"><h4>{{ vaga.titulo }}</h4></a>
                <p>Empresa: {{vaga.empresa }}</p>
                <p>Salário: {{ vaga.salario }}</p>
                <p>Escolaridade: {{ vaga.escolaridade }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock content %}